body {
  font-family: "Hind", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-family: 'Hind', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* :where(
    .css-dev-only-do-not-override-htwhyh
  ).ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
} */

:where(.css-dev-only-do-not-override-htwhyh).ant-divider-vertical,
:where(.css-htwhyh).ant-divider-vertical {
  border-inline-start: 1px solid rgba(30, 30, 30, 1);
  margin: 0 0 0 24px;
}

.header {
  height: 128px;
  padding-inline: 50px;
  background-color: #fff;
}

.main {
  min-height: calc(100vh - 208px);
  color: #303030;
  background-color: #eeeeee;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  background: #fff;
  color: #334455;
}

.footer a {
  color: #595959;
  color: #13c2c2;
}

.footer a:hover {
  color: #999999;
}

.logo {
  font-size: 48px;
  line-height: 48px;
  display: inline-flex;
}

.logo.logo-link {
  color: rgba(0, 0, 0, 0.88);
}

.logo-link:hover {
  color: #13c2c2;
  cursor: pointer;
}

/* .logo-link:hover {
  color: #999999;
} */
.ant-menu-horizontal {
  border-bottom: none;
}
.menu__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: none;
  justify-content: flex-end;
}

.menu-2 {
  min-width: 98px;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-menu-horizontal .ant-menu-item,
:where(.css-htwhyh).ant-menu-horizontal .ant-menu-item,
:where(.css-htwhyh).ant-menu-horizontal .ant-menu-submenu {
  padding-inline: 24px 0;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item::after,
:where(.css-htwhyh).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-htwhyh).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item:hover::after {
  display: none;
}

:where(.css-htwhyh).ant-menu-light.ant-menu-horizontal > .ant-menu-item::after,
:where(.css-htwhyh).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item::after,
:where(.css-htwhyh).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu::after,
:where(.css-htwhyh).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu::after {
  border-bottom: none;
}

:where(.css-htwhyh).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-htwhyh).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected,
:where(.css-htwhyh).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected,
:where(.css-htwhyh).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-htwhyh).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected {
  color: #999999;
  color: #13c2c2;
}
.menu__item,
.ant-menu-title-content:hover {
  color: #999999;
  color: #13c2c2;
}
.main__img {
  height: calc(100vh - 208px);
  background: #eeeeee center right -200px url("../images/bg-banner2.png") no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}

.main__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 40px;
  padding: 0 16px;
  color: #010101;
  transition: all 0.3s;
  margin: 0 12px;
}

.main__btn:hover {
  background-color: #000;
  color: #fff;
}

.v100 {
  height: calc(100vh - 208px);
}

.blog .ant-card {
  min-height: 100%;
}
